<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vision intro</title>
  <link rel="stylesheet" href="base.css" />
  <link rel="stylesheet" href="theme.css" />
</head>
<body>

<div class="slide">
  <div class="grid-2">
    <div>
      <div class="title-md" style="width:380px">Vision for the<br>Mobile roadmap</div>
    </div>
    <div class="body-copy" style="width:260px;margin-top:9px">
      Dive into the innovative features and enhancements that will shape the user experience and exceed expectations. Explore the vision that will revolutionize the way people interact with mobile technology.
    </div>
  </div>
  <div class="footer"><div class="dot"></div><div>Reviews / Mobile Strategy Product review — Month XX</div><div class="sep">•</div><div>Vision</div><div class="page">00</div></div>
</div>

</body>
</html>
