<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Problem solution</title>
  <link rel="stylesheet" href="base.css" />
  <link rel="stylesheet" href="theme.css" />
</head>
<body>

<div class="slide">
  <div class="top-split" style="grid-template-columns:.8fr 1.2fr;gap:45px">
    <div>
      <div class="kicker" style="font-size:15px;width:200px;line-height:1.12">Clearer entrypoints for password retrieval</div>
      <div class="body-small" style="width:195px;margin-top:10px">We need to make it easier for users to find where they can reset their passwords. This will help improve the overall user experience and reduce frustration.</div>
    </div>
    <div><div class="visual-square" style="width:380px"></div></div>
  </div>
  <div class="footer"><div class="dot"></div><div>Reviews / Mobile Strategy Product review — Month XX</div><div class="sep">•</div><div>Concept 2</div><div class="page">00</div></div>
</div>

</body>
</html>
